extends ../../layouts/default.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug
block head 
    link(rel='stylesheet', href='/admin/css/product.css')
block main
    script(src="/admin/js/product.js")
    if(role.permissions.includes('category_view'))
      +alert-error(expressFlash,5000)
      +alert-success(expressFlash,5000)         
      h1 Danh Mục Sản Phẩm
      .card.mb-3 
        .card-header Bộ Lọc và Tìm Kiếm
        .card-body
          .row
            .col-6
              +fillter-status(fillterStatus) 
            .col-6 
              +search(keywords)
      .card.mb-3 
        .card-header Danh Sách
        .card-body
          .row
            .col-8
              +form-change-multi(`${prefixAdmin}/categories/change-multi?_method=PATCH`)
            .col-3
              if(role.permissions.includes('category_create'))
                a(
                  href=`${prefixAdmin}/categories/create` 
                  class="btn btn-outline-success"
                ) + Thêm Mới
            if(role.permissions.includes('category_trash'))
              .col-1
                a.trash(
                  href=`${prefixAdmin}/categories/trash` 
                  class="btn btn-outline"
                  style="font-size: 1.5rem;border-radius: 50%;border: 1px solid #ccc;"
                )
                  i.fa-regular.fa-trash-can(style="width: 100%; height: 100%;")
          if records.length > 0
            table(
              class="table table-hover table-sm"
              checkbox-multi
            )
              thead 
                tr 
                  th 
                    input(
                      type="checkbox" 
                      name="checkall"
                      form="formChangeMulti"
                    )
                  th STT
                  th Hình Ảnh
                  th Tên Danh Mục              
                  th Vị trí
                  th Trạng thái
                  th Thao Tác
              tbody
                +table-tree(records)
          else 
            p Không có dữ liệu
      form(
        action="" 
        method="POST"
        id="formChangeStatus"
        path=`${prefixAdmin}/categories/change-status`
      ) 
      form(
        action="" 
        method="POST"
        id="formDeleteItem"
        path=`${prefixAdmin}/categories/delete`
      )
    else 
      h1 Bạn không có quyền truy cập trang này
          