extends ../../layouts/default.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug
include ../../mixins/pagination.pug
include ../../mixins/form-change-multi.pug
include ../../mixins/alert.pug
include ../../mixins/sort.pug
include ../../mixins/table-tree.pug
include ../../mixins/moment.pug
block head 
  link(rel='stylesheet', href='/admin/css/product.css')
block main
    script(src="/admin/js/product.js")
    if(role.permissions.includes('category_trash'))
      +alert-error(expressFlash,5000)
      +alert-success(expressFlash,5000)         
      h1 Danh Mục Sản Phẩm Đã Xóa
      .card.mb-3 
        .card-header Bộ Lọc và Tìm Kiếm
        .card-body
          .row
            .col-6
              +fillter-status(fillterStatus) 
            .col-6 
              +search(keywords)
      .card.mb-3 
        .card-header Danh Sách
        .card-body
          if records.length > 0
            +form-change-multi-trash(`${prefixAdmin}/categories/change-multi?_method=PATCH`)
            table(
              class="table table-hover table-sm"
              checkbox-multi
            )
              thead 
                tr 
                  th 
                    input(
                      type="checkbox" 
                      name="checkall"
                      form="formChangeMulti"
                    )
                  th STT
                  th Hình Ảnh
                  th Tên Danh Mục              
                  th Vị Trí
                  th Trạng Thái
                  th Người Xóa
                  th Ngày Xóa
                  th Thao Tác
              tbody
                each item, index in records
                  tr
                    td 
                      input(
                        type="checkbox" 
                        value=item.id
                        name="id" 
                      ) 
                    td #{item.index}
                    td 
                      img(src=item.thumbnail, alt='Image', width='50px' height="auto")
                    td #{item.title}
                    td 
                      input(
                        type="number"
                        value=item.position 
                        style="width:60px"
                        min="1"
                        name="position"
                      )
                    td
                      if(role.permissions.includes('category_edit'))          
                        if (item.status=="active")
                          a(
                            href="javascript:" 
                            class="badge badge-success"
                            button-change-status 
                            data-id=item.id 
                            data-status=item.status                    
                          ) Hoạt động
                        else 
                          a(
                            href="javascript:" 
                            class="badge badge-danger"
                            button-change-status 
                            data-id=item.id 
                            data-status=item.status
                          ) Không hoạt động
                    td #{item.accountName}
                    td 
                      +formatDate(item.deletedBy.deletedAt)

                    td     
                      button(
                        class = 'btn btn-success btn-sm ml-1'
                        button-restore
                        data-id=item.id
                      )
                      
                        i.fas.fa-trash-restore.mr-1
                      button(
                        class = 'btn btn-danger btn-sm ml-1'
                        button-delete
                        data-id=item.id
                        )
                          i.fas.fa-trash-alt.mr-1
          else
            p Không có dữ liệu
      form(
        action="" 
        method="POST"
        id="formChangeStatus"
        path=`${prefixAdmin}/categories/change-status`
      ) 
      form(
        action="" 
        method="POST"
        id="formDeleteItem"
        path=`${prefixAdmin}/categories/trash/delete`
      )
      form(
        action="" 
        method="POST"
        id="formRestoreItem"
        path=`${prefixAdmin}/categories/trash/restore`
      )
    else 
      h1 Bạn không có quyền truy cập trang này
          