extends ../../layouts/default.pug
include ../../mixins/alert.pug

block head 
  link(rel='stylesheet', href='/admin/css/form.css')

block main
  +alert-error(expressFlash,5000)
  +alert-success(expressFlash,5000)
  
  h1(class="mb-4") Chỉnh Sửa Phòng Khám
  
  form(action=`${prefixAdmin}/clinics/edit/${record.slug}?_method=PATCH` method="POST" enctype="multipart/form-data")
    .card.mb-4.shadow-sm
      .card-header.bg-primary.text-white
        h5.mb-0 Thông Tin Phòng Khám
      .card-body
        .row
          .col-md-6.mb-3
            div(class="form-group")
              label(for="name") Tên Phòng Khám *
              input(
                type="text"
                class="form-control"
                id="name"
                name="name"
                value=record.name
                required
              )
          
          .col-md-6.mb-3
            div(class="form-group")
              label(for="address") Địa Chỉ *
              input(
                type="text"
                class="form-control"
                id="address"
                name="address"
                value=record.address
                required
              )
          
          .col-md-12.mb-3
            div(class="form-group")
              label(for="description") Mô Tả
              textarea(
                class="form-control textarea-mce"
                id="description"
                name="description"
                rows="5"
              )= record.description
          
          .col-md-6.mb-3
            div(class="form-group")
              label Trạng Thái *
              .d-flex
                div(class="form-check me-3")
                  input(
                    type="radio"
                    class="form-check-input"
                    id="statusActive"
                    name="status"
                    value="active"
                    checked=record.status === "active"
                  )
                  label(for="statusActive" class="form-check-label") Hoạt động
                
                div(class="form-check")
                  input(
                    type="radio"
                    class="form-check-input"
                    id="statusInactive"
                    name="status"
                    value="inactive"
                    checked=record.status === "inactive"
                  )
                  label(for="statusInactive" class="form-check-label") Không hoạt động
          
          .col-md-12.mb-3
            div(class="form-group" upload-image)
              label(for="avatar") Ảnh Đại Diện
              input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
              )
              div.d-flex.align-items-center.mt-2
                img(
                  src=record.avatar || ""
                  class="image-preview me-3"
                  upload-image-preview
                  style="max-width: 200px; max-height: 200px;"
                )
                button(
                  type="button"
                  class="btn btn-danger btn-sm cancel-image-button"
                  cancel-image-button
                ) Hủy
    
    .d-flex.justify-content-between.mt-4
      a.btn.btn-secondary(href=`${prefixAdmin}/clinics`)
        i.fas.fa-arrow-left.me-1
        | Quay Lại
      
      button(type="submit" class="btn btn-primary")
        i.fas.fa-save.me-1
        | Lưu Thay Đổi
