mixin alert-success(expressFlash,time)
    - if (expressFlash.success.length > 0)
        .success
            div(
                class="alert alert-success"
                data-time=time
                show-alert
            ) #{expressFlash.success} <span close-alert class="close ml-2" >x</span>
mixin alert-error(expressFlash,time)
    - if (expressFlash.error.length>0)
        .error
            div(
                class="alert alert-danger"
                data-time=time
                show-alert
            ) #{expressFlash.error} <span close-alert class="close ml-2" >x</span>