extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/fillter-status.pug
include ../../mixins/search.pug

block head 
  link(rel='stylesheet', href='/admin/css/product.css')
block main
  +alert-error(expressFlash,5000)
  +alert-success(expressFlash,5000)
  h1(class="mb-4") Danh Sách Bài Viết
  
  .card.mb-3
    .card-header 
      .row
        .col-6
          i.fas.fa-newspaper.mr-1
          | Danh sách bài viết
        .col-6.text-right
          a.mr-2(
            class = 'btn btn-primary btn-sm'
            href=`${prefixAdmin}/posts/create`
          ) + Thêm mới
    .card-body
      if records && records.length > 0
        table.table.table-hover.table-sm
          thead
            tr
              th STT
              th Ảnh
              th Tiêu Đề
              th Tác Giả
              th Trạng Thái
              th Hành Động
          tbody
            each record, index in records
              tr
                td= index + 1
                td 
                  if record.poster
                    img(src=record.poster, alt='Poster', width='80px')
                  else
                    span Không có ảnh
                td= record.title
                td= record.authorName || "Admin"
                td 
                  span.badge(class=record.status === "published" ? "badge-success" : "badge-warning")
                    | #{record.status === "published" ? "Công khai" : "Bản nháp"}
                td
                  a(
                    class = 'btn btn-secondary btn-sm'
                    href=`${prefixAdmin}/posts/detail/${record.slug}`
                  ) 
                    i.fas.fa-eye.mr-1
                
                  a(
                    class = 'btn btn-warning btn-sm ml-1'
                    href=`${prefixAdmin}/posts/edit/${record.slug}`
                  ) 
                    i.fas.fa-edit.mr-1
                
                  button(
                    class = 'btn btn-danger btn-sm ml-1'
                    button-delete
                    data-id=record._id
                  ) 
                    i.fas.fa-trash-alt.mr-1
      else
        p Không có dữ liệu
  
  form(
    action="" 
    method="POST"
    id="formDeleteItem"
    path=`${prefixAdmin}/posts/delete`
  )